$color__primary: #111;
$color__white: #fff;
$color__light-grey: #f4f4f4;
$color__mid-grey: #ccc;
$color__dark-grey: #666;
$color__light-black: #444;
$color__black: #222;
$color__sidebar: #161f26;
$color__acent: #2980b9;
$color__acent-two: #f09419;

$color__header-color: $color__acent;
$color__header-font-color: $color__white;

$color__background-body: $color__white;
$color__background-hr: $color__light-grey;
$color__background-pre: $color__light-grey;
$color__background-ins: $color__light-grey;
$color__background-screen: $color__light-grey;
$color__background-sidebar: $color__sidebar;
$color__background-header: $color__acent;

$color__text-input: $color__light-black;
$color__text-input-focus: $color__black;
$color__text-screen: $color__primary;

$color__background-button: $color__white;
$color__background-button-hover: $color__light-grey;
$color__background-button-focus: $color__mid-grey;

$color__link: $color__light-black;
$color__link-visited: $color__light-black;
$color__link-hover: $color__primary;
$color__text-main: $color__dark-grey;
$color__text-headings: $color__dark-grey;

$color__border-abbr: $color__light-black;
$color__border-button: $color__mid-grey;
$color__border-button-hover: $color__light-black;
$color__border-button-focus: $color__light-black;
$color__border-input: $color__mid-grey;
$color__border-input-focus: $color__light-black;


$facebook                  : #3b5998;
$twitter                   : #55acee;
$vk                        : #45668e;
$youtube                   : #bb0000;
$linkedin                  : #007bb5;
$googleplus                : #dd4b39;
$skype                     : #00aff0;
$reddit                    : #057fd7;
$instagram                 : #125688;
$pinterest                 : #cb2027;
$tumblr                    : #32506d;
$disqus                    : #2e9eff;
$github                    : #000;
$codepen                   : #1b1c1b;
$stackoverflow             : #f47a20;
$dribbble                  : #f26798;
$behance                   : #1769ff;
$fivehundredpx             : #0099e5;
$flickr                    : #ff0084;
$twitch                    : #6441a5;
$vimeo                     : #1ab7ea;
$soundcloud                : #ff3a00;
$lastfm                    : #d21309;
$steam                     : #0a1b40;
$xbox                      : #107c10;
$playstation               : #0a3697;
