$color__background-body    : #fff;
$color__background-screen  : #f1f1f1;
$color__background-hr      : #ccc;
$color__background-button  : #fff;
$color__background-pre     : #eee;
$color__background-ins     : #fff9c0;
$color__text-screen        : #21759b;
$color__text-input         : #666;
$color__text-input-focus   : #111;
$color__link               : #000;
$color__link-visited       : #000;
$color__link-hover         : #000;
$color__text-main          : #404040;
$color__border-button      : #000;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input       : #ccc;
$color__border-abbr        : #666;
$facebook                  : #3b5998;
$twitter                   : #55acee;
$vk                        : #45668e;
$youtube                   : #bb0000;
$linkedin                  : #007bb5;
$googleplus                : #dd4b39;
$skype                     : #00aff0;
$reddit                    : #057fd7;
$instagram                 : #125688;
$pinterest                 : #cb2027;
$tumblr                    : #32506d;
$disqus                    : #2e9eff;
$github                    : #000;
$codepen                   : #1b1c1b;
$stackoverflow             : #f47a20;
$dribbble                  : #f26798;
$behance                   : #1769ff;
$fivehundredpx             : #0099e5;
$flickr                    : #ff0084;
$twitch                    : #6441a5;
$vimeo                     : #1ab7ea;
$soundcloud                : #ff3a00;
$lastfm                    : #d21309;
$steam                     : #0a1b40;
$xbox                      : #107c10;
$playstation               : #0a3697;
