.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}



.site-content.fixed {
    clear: both;
    display: block;
    width: 100%;
    position: relative;
    max-width: 75em;
    margin: 0 auto;
    background-color: #fff;
}
